<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=0.95, user-scalable=no" />
<title>jquery弹出层</title>
</head>
<body style="padding-top:90px">
<div class="loginmask"></div>

<div id="loginalert" >
<i class="closealert fr"></i>
<div class="lolertit">试卷设置</div>
<div class="lolist" >
<ul><li><span>主标题.</span><textarea name="" cols="" rows="" style="height:100px;"></textarea></li>
<li style="margin-top:80px"><span>副标题.</span><textarea name="" cols="" rows="" style="height:100px;"></textarea></li>
</ul>
</div>
<div class="clear"></div>
<input name="" type="button" class="popbut" value="确定" style="margin-top:80px;" />
</div>

</body>
</html>

