<script>
var increasesUrl="{:U('Choose/index','','')}";
$(function(){

	 var timer=setInterval(function(){\
	 	var epaperId = $('#epaperId').val()
		$.get('__URL__/epaper',function(data){
			if('data==1'){
				/*location.href=showEpaper+'?epaperId='+epaperId;*/
			}else{
				alert('删除失败 !');
			}
		},'json') 
		
   	console.log("记时")
   },6000)
	$('.increases').on('click',function(){
		clearInterval(timer)
		 var epaperId = $('#epaperId').val()
		$.post('__URL__/epaper',function(data){
			if('data==1'){
				location.href=increasesUrl+'?epaperId='+epaperId;
			}else{
				alert('删除失败 !');
			}
		},'json') 
	})
})
</script>

<div class="head_r" style="margin-top:-13px">
	<div class="eye"></div>
	<ul class="menu">
		<li class="li_3">试题<span class="count1"><if condition="$count eq '' ">0<else/>{$count}</if></span>
			<dl class="li_3_content">
				<img src="__PUBLIC__/images/index/dot1.png" width="23"height="12"class="Triangle_con"/>
				<p style="padding-top: 10px;">
					<span>选择题：</span><em class="subnavg" id="total_xz"><if condition="$Xcount eq '' ">0<else/>{$Xcount}</if> </em>/25
				</p>
				<p style="display:block">
					<span>非选择题</span><em class="subnavg" id="total_fxz">{$count - $Xcount}</em>/25
				</p>
				<p>
					<span>必答题：</span><em class="subnavg" id="">0</em>/25
				</p>

	<!-- 			<p>
					<span>(2)选答题</span><em class="subnavg" id="">0</em>/25
				</p> -->
				<p>
					<span>《化学与生活》：</span><em class="subnavg" id="">0</em>/25
				</p>
				<p>
					<span>《有机化学基础》：</span><em class="subnavg" id="">0</em>/25
				</p>

				<p>
					<span>《化学反应原理》：</span><em class="subnavg" id="">0</em>/25
				</p>
	<!-- 			<p>
					简答题：<em class="subnavg"><if condition="$Jcount eq '' ">0<else/>{$Jcount}</if></em>/25<span id="feng_one" class="fengsu">30分<span>
				</p> -->
				<p class="count" style="color: #01A310; text-align: center;">共计<i class="count2">{$count}</i>道题
				<!-- <span id="all_feng">100分<span> --></p>
				<a class="increases" href="javascript:void(0);" id="revisebut">继续加题</a>
			</dl>
		</li>
	</ul>

	<div class="nr_green" style="float: right; margin-right: 39px;">
		<img src="__PUBLIC__/images/toux.gif" /> <span SH_NAME="true">{$Think.session.username}</span>
		<ul class="set">
			<li><a href="{:U('User/index')}">设置</a></li>
			<li><a href="{:U('Login/logout')}" style="border:none">注销</a></li>
		</ul>
	</div>

</div>