<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=0.95, user-scalable=no" />
<title>指南树</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" /><!-- 必须 -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/popstyle.css"/><!-- 弹窗样式 -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/xlmenu.css"/><!-- tou -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/layout.css"/><!-- 必须 -->
<script type="text/javascript">
  var imgPath = '__ROOT__/Public/';
</script>
<script src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/js/jquery.easing.min.js" type="text/javascript"></script> 
<script language="javascript" src="__PUBLIC__/js/custom.js"></script> 
<script src="__PUBLIC__/js/choose.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/jquery.nicescroll.min.js" type="text/javascript"></script>
<script type="text/javascript" src="__PUBLIC__/js/lhgdialog/lhgdialog.min.js?self=true&skin=igreen"></script>

<script>

var dfileUrl='{:U("Volume/delFile","","")}';
//lhgdialog 弹窗js
		function open(myurl,tit,w,h){
				var dg = $.dialog({
					id: 'mydiv',
					lock: true,
					background:'#fff',
					title : tit,
					cache:true,
					min:false,
					resize:true,
					extendDrag:true,
					content: 'url:'+ myurl ,
					height:h,
					width:w,
					});
					dg.ShowDialog();
				} 
				function R_alert(msg) {
				    close();
				    $.dialog.tips(msg,'',"loading.gif");
				    top.location.reload();
				}
 				function close() {
				  $.dialog.list['mydiv'].close()
				} 

			

</script>
<style>
.now_fengsu{display: inline-block;min-width: 20px;height: 16px;padding: 0 4px;text-align: center;}

#show1{position: absolute;top:45px;left: 110px;display: none;z-index:10000;padding-top: 13px}
#show1 .show2{padding-top: 13px;background:#fff; border:1px solid #eee;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;width: 412px;padding: 12px;
box-shadow: 1px 1px 6px #606060;
webkit-box-shadow:1px 1px 6px #606060;
-moz-box-shadow:1px 1px 6px #606060;}



#show1 ul{display: block;height:100%;border:1px solid #eee;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding: 10px 8px 10px 8px}
#show1 ul li{float: left;margin: 10px 0;}
#show1 ul li a{width: 92px;display: block;}
#show1 ul li a img{display: block;margin: 0 auto;-moz-border-radius:30px;-webkit-border-radius:30px;border-radius:30px;}
#show1 ul li a span{display: block;text-align: center;font-size: 16px;line-height: 38px;color: #000000}
#show1 i{position:absolute; top:2px; left:25px;}
#show1 ul li a:hover img{box-shadow: 1px 1px 6px #606060;
webkit-box-shadow:1px 1px 6px #606060;
-moz-box-shadow:1px 1px 6px #606060;}

</style>
</head>
<body>
<input type="hidden" id="all_id">
<div class="header" id="XX">
            <div class="head_l">
             <span id="zhujiu_set" SH_HUI="true">会考</span>
            </div>

  <div id="show1" >
    <div class="show2">
      <i><img src="__PUBLIC__/images/index/dot1.png" width="24" height="13" /></i>
        <ul class="clear">
          <li><a href="{:U('Write/index')}"><img src="__PUBLIC__/images/index/icon1_small.png" width="52" height="52" /><span>编题</span></a></li>
          <li><a href="###"><img src="__PUBLIC__/images/index/z_icon.png" width="52" height="52" /><span>期中</span></a></li>
          <li><a href="###"><img src="__PUBLIC__/images/index/m_icon.png" width="52" height="52" /><span>期末</span></a></li>
          <li><a href="###"><img src="__PUBLIC__/images/index/y_icon.png" width="52" height="52" /><span>月考</span></a></li>
          <li><a href="{:U('Volume/index')}"><img src="__PUBLIC__/images/index/icon2_small.png" width="52" height="52" /><span>会考</span></a></li>
          <li><a href="{:U('User/index')}"><img src="__PUBLIC__/images/index/icon3_small.png" width="52" height="52" /><span>设置</span></a></li>
          <li><a href="{:U('Index/index')}"  class="back_index"><img src="__PUBLIC__/images/index/icon4_small.png" width="52" height="52" /><span>首页</span></a></li>
        </ul>
    </div>
  </div>



   <div class="head_m">
	  <ul>
		  <li class="delete_seave"></li>
		  <li class="delete_down"><a href="{:U('down',array('id'=>$_GET['epaperId']))}" style="display:block;width:100%;height:100%;"></a>
		  <li class="dt_car"></li>
		  <li class="delete_shijiu" style="margin-right:0;"></li>
	  </ul>
  </div>
<include file="go_right"/>
</div>
<div class="clear"></div>
<div class="shadow"></div>



<div class="title">
	<img src="__PUBLIC__/images/jt.png" /><a href="{:U('index', array('id' => I('get.epaperId')))}">返回</a>
	<input type="hidden" id="epaperId" value="{$epaper.id}"/>{$epaper.header}<span>{$epaper.subject}</span>
</div>
			<div class="warp">
				<div id="box">
						
						<div class='conti'>
							<div class="hed">
								<span>{$epaper.header}</span>
								<span>{$epaper.subject}</span>
							</div>
						</div>

					<div class='conti'>
						<div class="know">
							<table border="1" cellspacing="0" cellpadding="0">
								<tr style="background: none;">
								<th width="25px">考生须知</th>
								<td><div>{$epaper.know|explodeStr0=###}</div>
								<div>{$epaper.know|explodeStr1=###}</div>
								<div>{$epaper.know|explodeStr2=###}</div>
								<div>{$epaper.know|explodeStr3=###} </div>
								</td>
								</tr>
							</table>

							<div class="zhisi">
								{$epaper.note}
							</div>
						 	
						</div>
					</div>

					<div class='conti'>
						<div class='type'> 
								<h5 class="title_one"><span>{$epaper.one_type|explodeStr0=###}</span><span>{$epaper.one_type|explodeStr2=###}</span></h5>
								<h5 class="title_two">{$epaper.one_type|explodeStr1=###}（{$epaper.one_type|explodeStr3=###}）</h5>
						</div>
					</div>

					<volist name="list" id="vo">
							<if condition="$vo.questions eq 选择题 "> 
								<div class='conti'>
								<div class="list">
								 <!--  <input  type='hidden'  class="weight" value="{$vo.weight}"> -->
								  <input  type='hidden'  class="testid" value="{$vo.id}">
								  <div>{$vo.test}</div>
								 
								</div>
								</div>
							</if> 
					</volist>


					<!-- 这个地方 有问题！！！！！！！！！！ -->

					<div class='conti'>
						<div class='type2'> 
								<h5 class="title_one"><span>{$epaper.two_type|explodeStr0=###}</span><span>{$epaper.two_type|explodeStr2=###}</span></h5>
								<!-- <h5 class="title_two">{$epaper.one_type|explodeStr2=###}（{$epaper.one_type|explodeStr3=###}）</h5> -->
						</div>
					</div>


					<volist name="list" id="vo">
						<if condition="$vo.questions neq 选择题"> 
						<div class='conti'>
								<div class="list">
									<!-- <input  type='hidden'  class="weight" value="{$vo.weight}"> -->
									 <input  type='hidden'  class="testid" value="{$vo.id}">
									 <div>{$vo.test}</div> 
								</div>
						</div>
						</if>
					</volist> 
				</div>

				<div id="divide_border">
				
				</div>
			</div>


<div class="clear"></div>
<!-- 弹窗确认是否保存 -->
<div id="mask"></div>

<div id="save_eapaper" >
	 <div class="img_icon img_save"></div>
		  <div class="delete_del_content">
		          <div class="popu_text">
		          		您是要保存“{$epaper.header}”吗？
		          </div>

		        <div class="demobtn">
		        	<a href="javascript:void(0);" class="no">取消</a>
		              <a href="javascript:void(0);" class="yes">保存</a>

		        </div>
		  </div>
</div>
<!-- 弹窗确认是否保存 end -->

<!-- 试卷头 设置 start -->
<div class="save_head" >
		<i class="close dif">×</i>
		<div class="lolertit">试卷设置</div>
		<div class="lolist" >
		<ul>
		<li><span>主标题</span><textarea name="header" class='head' cols="" rows="" style="height:100px;"></textarea></li>
		<li style="margin-top:80px"><span>副标题</span><textarea name="subject" class='subject' cols="" rows="" style="height:100px;"></textarea></li>
		</ul>
		</div>
		<div class="clear"></div>
		<div class="head_yes"><a href="javascript:void(0);" class="yes">确定</a></div>
</div>
<!-- 试卷头设置 end -->
<div id="foot">
<div id="yema">
	<p><span>化学试卷</span>第<span id="now_page_one"></span>页(共<span class="shijiu_all_page"></span>页)</p>
	<p><span>化学试卷</span>第<span id="now_page_two"></span>页(共<span class="shijiu_all_page"></span>页)</p>
</div>
  <ul>
    <li class="logo_f">uTeach</li>
    <li class="nav_f"><a href="{:U('Volume/index')}" style="color:#a5dba7">会考</a></li>
    {:dirs($epaper['pid'], $epaper['top_pid'])}
    <li class="grasj"></li>
    <li>{$epaper.header} {$epaper.subject}</li>
     <li class="grasj"></li>
	<li>生成试卷</li>
  </ul>
</div>

<script>
	 $(document).ready(function() {
	//保存
	$(".demobtn .yes").on('click',function(){
		$.post("{:U('Choose/epaper','','')}",function(data){
			if(data.status = 1){
				$("#mask").hide()
				$("#save_eapaper").hide()
			   parent.location.href = data.url;
			}else{
				alert(5555)
			}
		},'json') 
	})
	
	$('.delete').on('click',function(){
		$.post(dfileUrl,{id:$('#epaperId').val(),type:$(this).find('.type').val()},function(data){
			if('data==1'){
			   parent.location.href = "{:U('Volume/index')}";
			}else{
				alert(5555)
			}
		},'json') 
	})
	

	//加排序标签
	 add_XH()
	function add_XH(){
		 $.each($("#box .conti"),function(i){
			  $(this).find("p").eq(0).html("<span class='xh'></span>"+$(this).find("p").eq(0).html())
		  })
		  sort_PX()
	 }
	
	/*题号排序  */
	function sort_PX(){
		 $.each($("#box .xh"),function(i){
			  $(this).html(i+1+".&nbsp;&nbsp;")
		  })
	 }
	pic_fR()
	 function pic_fR(){ 
		 $.each( $(".conti"),function(){
			$(this).find("p").eq(0).find("img").eq(0).css({float:"right"})
			
		 })
	 }
					function ff(){
						return $(this).html()
					}	 

					// 用来清除编制样式
					function clear_warp(){
						$("#box").find("div").removeClass("greendi")
						$(".conti").find("ul").eq(0).remove()
						$(".conti").find("a.revisebut").remove()
					}
			  $(".conti").on("mouseenter",function(){
							clear_warp()
							if($(this).find("div:first").attr("class")=="hed"){
									 	$(this).addClass("greendi")
									 	$(this).append(" <a class='revisebut'>修改</a>")
										$('.revisebut').on('click',function(){
											$('#mask').show()
											$('.save_head').show()
											$('.close').on('click',function(){
												$('#mask').hide()
												$('.save_head').hide()
											})
										})
										//试卷头更新
										$('.save_head .yes').on('click',function(){
											 $.post('__URL__/save_head',{head:$(".head").val(),subject:$('.subject').val()},function(data){
												 if('data==1'){
													 $('#mask').hide()
													 $('.save_head').hide()
													 location.reload() 
												 }else{
													 alert('错误')
												 }
											 },'json')
										})
							}else if($(this).find("div:first").attr("class")=="know"){
									$(this).addClass("greendi")
									$(this).append(" <a class='revisebut' onclick='parent.open(\"__CONTROLLER__/know/id/{$epaper.id}\",\"考生须知\",600,400)'>修改</a>")
							}else if($(this).find("div:first").attr("class")=="type"){
								$(this).addClass("greendi")
								$(this).append(" <a class='revisebut' onclick='parent.open(\"__CONTROLLER__/alert_type/id/{$epaper.id}\",\"试题设置\",600,400)'>修改</a>")
							}else if($(this).find("div:first").attr("class")=="type2"){
								$(this).addClass("greendi")
								$(this).append(" <a class='revisebut' onclick='parent.open(\"__CONTROLLER__/alert_type2/id/{$epaper.id}\",\"试题设置\",600,400)'>修改</a>")
							}else{

								 	 			$(this).addClass("greendi")
												 $(this).append("<ul> <li>试题替换</li><li>删除</li><li>上移</li><li>下移</li></ul><div class='clear'></div>") 
												  var That1=$(this)
												  That1.find("ul li").eq(0).on("click",function(event){
													var id=That1.find('.testid').val()
													  parent.open('__CONTROLLER__/alert_replace?id='+id,'试题替换',700,600)
												  })


										That1.find("ul li").eq(1).on("click",function(event){
											  var id = $(this).parent().parent().find('.testid').val()
												   
											  new_all_id()
											  function new_all_id(){
													var arry_id=$("#all_id").val().split(",")
													var index=0
														$.each(arry_id,function(i,v){
																if(v==id){index=i}
															})
															if (index >= 0){
														        arry_id.splice(index, 1)
															}
													$("#all_id").val(arry_id.join(","))
												} 
											  
											  That1.remove()
													 $.post('__URL__/get_all_id',{all_id:$("#all_id").val()},function(){
														 if('data==1'){
															 location.reload() 
														 }
													 })
													
										  })

									That1.find("ul li").eq(2).on("click",function(event){
											  event.stopPropagation();
											  if(That1.prev().find("div:first").attr("class")=="list"){
  												That1.prev().before(That1)
  												  sort_PX()
  												  get_all_id()
  												  $.post('__URL__/get_all_id',{all_id:$("#all_id").val()})
											  }
											   
										  })

											That1.find("ul li").eq(3).on("click",function(event){
											  event.stopPropagation();

											  if(That1.next().find("div:first").attr("class")=="list"){
  												That1.next().after(That1)
  												  sort_PX()
  												  get_all_id()
  												   $.post('__URL__/get_all_id',{all_id:$("#all_id").val()})
											  }
											  
										  })



							}


				 }) 
			 	$(document).click(function (event){
			 		  event.stopPropagation();
			 		  	clear_warp()
	
			 })


			 // 获取试题ID
				get_all_id()
			 	function get_all_id(){
			 		
			 		var all_id_html=""
			 		$("#box .testid").each(function(){
			 			all_id_html+=$(this).val()+','
			 		})
			 		$("#all_id").val(all_id_html)
			 	}


			 	// 非选择题失去焦点读入数据
			 	$(".now_fengsu").on("blur",function(){
			 		// alert(434343)
			 	})
			

				//不能输入字符
				$(".conti").delegate(".now_fengsu","keyup",function(event){
					var str=$(this).text()
	
					if (/[^0-9]/g.test(str)) {  
					        $(this).text(str.substr(0,str.length - 1));  
					    }  

				})

				//空格不换行
				$(".conti").delegate(".now_fengsu","keydown",function(event){
					var k=event.keyCode;
					if(k==13)
					{
						console.log(43434)
						return false
					}


				})

				$(".conti .type2").parent().nextAll(".conti").each(function(i,v){
					$(this).find(".xh").after('(<span class="now_fengsu" contenteditable="true">3</span>分)')
				})

		 }); 

</script>
</body></html>