#loginalert{ width:800px; background:#FFF; position:fixed; height:550px; margin-top:-466px; top:60%;   left:50%; margin-left:-400px; z-index:101; display:none;
 font-family:"\5FAE\8F6F\96C5\9ED1"; font-size:14px; -moz-border-radius: 5px;       /* Gecko browsers */
    -webkit-border-radius:5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */ 
	 behavior: url(../js/ie-css3.htc);}
.loginmask{ width:100%; height:100%; z-index:99; background:grey; position:fixed; top:0; left:0; display:none; }
.closealert{ width:20px; height:20px; cursor:pointer; background:url(../images/icons.png) no-repeat;-webkit-transition:all 0.4s ease-out;-moz-transition:all 0.4s ease-out;-o-transition:all 0.4s ease-out;transition:all 0.4s ease-out; }
.closealert:hover{transform:rotate(-180deg);-moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);-o-transform:rotate(-180deg);}
.closealert{ width:20px; height:20px; cursor:pointer; background:url(../images/icons.png) no-repeat;-webkit-transition:all 0.4s ease-out;-moz-transition:all 0.4s ease-out;-o-transition:all 0.4s ease-out;transition:all 0.4s ease-out; }
.closealert:hover{transform:rotate(-180deg);-moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);-o-transform:rotate(-180deg);}
.pagnation{ margin-top:10px; border-bottom:1px solid #B0B0B0; padding-bottom:10px; padding-left:15px; text-align:left; }
.pagnation a{ text-align:center;}
.fr{ font-size:18px; line-height:50px; color:#707070; float:right; margin-right:15px; margin-top:15px;  }
.fr a{ font-size:18px; line-height:50px; color:#FF4200; margin-left:5px; }
.lolertit{color:#00A513; font-size:14px; border-bottom:1px solid #000000;height: 40px;line-height:40px;text-indent:20px;font-weight: bold;font-family: "宋体"}
.poptit{ padding-left:20px; margin-top:8px; background:url(../images/popx.png) bottom left repeat-x; padding-bottom:8px; font-size:12px;}
.poptit span{display: inline-block;margin-right: 2%; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;cursor: pointer;font-size: 12px}
.popcon{ color:#7B7B7B; border-bottom:1px solid #B0B0B0;  line-height:25px; text-align:justify; padding-bottom:15px;font-size: 14px;color: #2e2e2e}
/*.popcon table{width: 90% !important}*/
.popcon p{ color:#2E2E2E;margin: 15px 30px}
.popcon p img{text-align: auto !important}
.edit{
    padding: 5px 12px;
background:#ff0000;
cursor: pointer;
color: #FFF;
font-size: 18px;
display: block;
border-radius: 5px;
border: medium none;
margin: 0px auto;
font-family: "微软雅黑";
}
#note,.popbut {
    padding: 5px 12px;
    background: none repeat scroll 0% 0% #309EFD;
    cursor: pointer;
    margin-right: 43px;
    color: #FFF;
    font-size: 16px;
    display: block;
    border-radius: 5px;
	border:none;
	margin:0 auto;
	font-family:"\5FAE\8F6F\96C5\9ED1";
}
.clear{ clear:both;}
.popgreen{ color:#00A60E;margin: 15px 0px;margin-left: 30px;}
.popconn{ margin:15px; line-height:22px;}
.popconnti{ background:#E8E8E8; color:#989898; height:25px; line-height:25px; text-align:center; font-size:15px;cursor: pointer;}
.lolist{ width:780px; margin:0 auto; margin-top:30px; }
.lolist ul li{ height:50px; list-style:none;}
.lolist ul li span{ width:150px; text-align:right; font-size:20px; float:left; display:block;}
.lolist ul li input{ border:1px solid #D2D2D2; height:25px; line-height:25px; padding:5px; width:450px; margin-left:10px;font-size: 14px}
.lolist ul li input:hover{ border:1px solid #02A411;}
.lolist ul li textarea{ border:1px solid #D2D2D2;  line-height:25px; padding:5px; width:450px; margin-left:10px; height:60px;resize: none}
.lolist ul li textarea:hover{ border:1px solid #02A411;}
.lolist1{ width:100%; margin:0 auto; margin-top:15px; }
.lolist1 ul li{ height:45px; list-style:none;}
.lolist1 ul li span{ width:10%; }
.sloetit{ font-size:25px; text-align:center; line-height:50px;}
.sslotit{ border-bottom:1px solid #B0B0B0; border-top:1px solid #B0B0B0; height:50px; line-height:50px;}
.sslotit p{ text-align:center; font-size:25px; float:left; height:50px; margin-top:0; color:#2E2E2E;}
.sslotit p.titg{ width:399px; color:#01A30F; border-right:1px solid #B0B0B0; height:50px; }
.leftslo{ width:399px;  border-right:1px solid #B0B0B0; border-bottom:1px solid #B0B0B0; float:left; margin-top:-24px;}
.demo-list{ }
.demo-list ul li{ list-style:none; font-size:20px; height:50px; color:#2E2E2E; }
.demo-list ul li input{ margin-right:5px; display:block;}
.rightslo{ float:left; width:400px; border-bottom:1px solid #B0B0B0; margin-top:-24px;}
/*.demobtn{ text-align:right; }
.demobtn a{ margin-right:20px;font-weight: 700;text-decoration: none; margin-top:15px; font-size:19px; color:#309EFF; padding:5px; float:right;  display:block; cursor:pointer; -moz-border-radius: 5px;  
    -webkit-border-radius:5px;  border-radius:5px;behavior: url(../js/ie-css3.htc);}*/
h3{letter-spacing:4px}
.demobtn a:hover{ background:#309EFF; color:#FFFFFF; text-decoration:none; }
.eleftlo{  width:249px; float:left; text-align:center; margin-top:50px; font-size:16px;}
.erightlo{ width:550px; float:right; margin-top:50px; font-size:20px; text-align:center; border-left:1px solid #EEEEEE;}
.titgrek{ color:#373334; border:1px solid #00A60E; padding:5px; width:100px; margin:auto; margin-top:80px;}
.titgrek span{ background:url(../images/pub.png) 0 0 no-repeat; width:11px; height:7px; display:block; float:right; margin-top:5px;}
.erightlo span{ margin-left:40px; float:left; margin-top:40px;}
.bfive{ background:url(../images/1.png) no-repeat; width:90px; height:75px; display:block; cursor:pointer;}
.bfive:hover{ background:url(../images/8.png) no-repeat; width:90px; height:75px;display:block; cursor:pointer;}
.bfour{ background:url(../images/1.png) no-repeat; width:90px; height:75px; display:block; cursor:pointer;}
.bfour:hover{ background:url(../images/8.png) no-repeat; width:90px; height:75px; display:block; cursor:pointer;}

.begin_xuanti{width:108px;height:34px;background: #309dff;color: #fff;text-decoration: none;text-align: center;line-height: 34px;
-moz-border-radius: 5px;       /* Gecko browsers */
   -webkit-border-radius:5px;   /* Webkit browsers */
   border-radius:5px;display: block;margin: 0 auto;margin-top:30px;}
.shchu{ margin:35px; margin-top:45px;}
.shchu img{ float:left; margin-right:30px;}


.head_l{}


.head_l{ width:267px;  position:relative;}
.head_l h1{ color:#01A511; font-size:21px; font-weight:bold; margin-left:15px; margin-top:3px;}
.head_l h1 span{ font-size:21px; font-weight:bold; color:#A5DBA7; margin-top:3px; margin-left:15px;}
.head_l h1 a.bj{ float:right; margin:17px 16px 0 0; _position:absolute; _right:0px; _top:0px;}
#bt ul{ position:absolute; left:36px; top:32px; background:#fff; border:1px solid #eee;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px; height:52px; 
    padding:12px 0; width:395px; display:block; z-index:100;}
#bt ul li{ width:100px; padding:0 15px; height:52px; line-height:52px; border-right:1px solid #eaeaea; float:left;}
#bt ul li img{ float:left; padding-right:12px;}
#bt ul li a{ color:#525252; font-size:18px;}
#bt ul li.nobor{ border:0px;}
#bt ul i{ position:absolute; top:-7px; left:13px;}


.content_xq{font-size: 14px;color: #2e2e2e;text-indent: 20px;}