<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>弹出层</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/popstyle.css"/>
</head>		
		
<body>		
		<div class="shchu"><img src="__PUBLIC__/images/shanchu.png" />
			<h3>您确定删除"新建文件夹”吗？</h3>
			<p style='font-size:14px'>该文件夹下所有的内容将会删除。</p>
			<div class="demobtn"><a href="">删除</a><a href="">取消</a></div>
		</div>
		</body>
		</html>