<script language="javascript" type="text/javascript">
    var url="{:U('Write/index')}";
    //

</script>
<?php
	$ip = GetHostByName($_SERVER['SERVER_NAME']);//获取本机IP
?>
<include file="Public:header"/>
<body style='background:#eaeaea'>
<table cellpadding="0" cellspacing="0" width="100%" style='background:#eaeaea' id="main">
    <tr>
        <include file="Public:left"/>

        <td id="index_right" style="" >

            <include file="Public:right"/>

            <iframe src="__APP__/home/Public/main_content.html" frameborder="1" style="width:100%;margin-top:-9px" id="right_bt"></iframe>


        </td>
    </tr>
</table>
<div style="width: 1px; height: 1px; overflow: hidden;">
    <iframe id="iframe1" name="iframe1" ></iframe>
</div>
<div style="width: 1px; height: 1px; overflow: hidden;">
    <iframe id="iframe2" name="iframe2" ></iframe>
</div>
<div style="width: 1px; height: 1px; overflow: hidden;">
    <iframe id="iframe3" name="iframe3"  ></iframe>
</div>
<form id="form1">
<?php
if(!empty($test)){
?>
    <script language="javascript" type="text/javascript">
        var url="{:U('Write/index')}";
        //location.href = url;
        var iframe1 = document.getElementById("iframe1");
        var iframe2 = document.getElementById("iframe2");
        var iframe3 = document.getElementById("iframe3");
        //alert("{$analytical}");
        iframe1.src =  "{$ip}/Word/FileMakerSingle.php?id={$_SESSION['uid']}&type={$test}";
        iframe2.src =  "{$ip}/Word/FileMakerSingle.php?id={$_SESSION['uid']}&type={$answer}";
        iframe3.src =  "{$ip}/Word/FileMakerSingle.php?id={$_SESSION['uid']}&type={$analytical}";
        setInterval(function () {
            location.href = url;
        }, 1000);
        //
    </script>
<?php
}
if(empty($answer)){
?>

<?php
}
if(empty($analytical)){
?>
    <script language="javascript" type="text/javascript">
    var url="{:U('Write/index')}";
    //location.href = url;


    </script>

<?php
}

?>

</form>




</body>



</html>